html, body { height: 100% }

body {
    display: flex;
    flex-direction: column;
}

code {
    /* Based on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code */
    background-color: #eee;
    border-radius: 4px;
    padding: 0 3px;
    font-family: courier, monospace;
}

/* Centers contents */
.prose-center {
    margin-left: auto;
    margin-right: auto;
}

/* Sets a max width for readability */
.prose-width {
    max-width: 60em;
}

#main-content {
    padding-left: 2em;
    padding-right: 2em;
    flex-grow: 1;
}

.site-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    box-shadow: 0 0 5px gray;
}

.site-header > div {
    display: flex;
}

#site-header-menu-button, #site-header-menu-label {
    display: none;
}

#site-header-menu-label::after {
    content: " \25bc" /* Down arrow */
}

.site-header-menu-container {
    position: relative;
}

@media screen and (max-width: 760px) {
    #site-header-menu-label {
        display: inline-block;
        margin-right: 1em;
    }

    #site-header-menu {
        display: none;
    }

    #site-header-menu-button:checked ~ #site-header-menu-label::after {
        content: " \25b2" /* Up arrow */
    }

    #site-header-menu-button:checked ~ #site-header-menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: white;
        top: 100%;
        right: 0;
    }
}

.footer {
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    box-shadow: 0 0 5px gray;
}

/* About page */

.officer-info-list {
    list-style-type: none;
    padding-left: 0;
}

.officer-info-list > li {
    display: flex;
    padding-bottom: 0.5em;
}

.officer-info-list > li:last-child {
    padding-bottom: 0;
}

.officer-info-portrait {
    width: 5em;
    height: 5em;
    align-self: center;
}

.officer-info-desc {
    margin-left: 2em;
}

@media screen and (max-width: 760px) {
    .officer-info-list > li {
        flex-direction: column;
    }

    .officer-info-desc {
        margin-left: 0;
    }
}

/* News and Events */

.article-header > h1 {
    margin-top: 0em;
    margin-bottom: 0em;
}

.article-header-postinfo {
    font-size: 0.8em;
}

.article-summary-list {
    list-style-type: none;
    padding-left: 0;
}

.article-summary {
}

.article-summary-title {
    font-size: 1.5em;
}

/* Resource listing styles */

.resource-category {

}

.resource-category-title {
    font-size: 1.5em;
    font-weight: bold;
}

.resource-category-title:hover {
    cursor: pointer;
}

/* Styles to hide and show each category */
.resource-category-toggle {
    display: none;
}

.resource-category-title:before {
    content: "+";
}

.resource-category-toggle:checked + .resource-category-title:before {
    content: "-";
}

.resource-category-subcategories {
    display: none;
}

.resource-category-toggle:checked ~ .resource-category-subcategories {
    display: block;
}

/* Showcase listing styles */

.showcase-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.showcase-list > li {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 49%;
    max-width: 50%;
}

.showcase-list-item {
    margin: 20px;
    padding: 1em;
    box-shadow: 1px 1px 5px #00A2FF;
    height: 6em;
    display: flex;
    flex-direction: row;
}

.showcase-list-item > * {
}

.showcase-list-item-thumbnail {
    /* Image should have a fixed size */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 6em;
    height: 6em;
    margin-right: 1em;
    color: white;
    background: gray;
    /* Center the "No Image" text */
    text-align: center;
    line-height: 6em; /* Must be same as height */
}

.showcase-list-item-info {
    flex-grow: 1;
    overflow: hidden;
    margin: 0;
}

.showcase-list-item-description {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

@media screen and (max-width: 760px) {
    .showcase-list {
        flex-direction: column;
        align-content: stretch;
    }
    .showcase-list > li {
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* Individual project showcase page styles */

.showcase-project {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.showcase-project > .showcase-fullimage {
    flex-shrink: 1;
    margin-right: 2em;
    flex-basis: calc(100% - 22em); /* +2em for margin */
}

.showcase-project > .showcase-project-header {
    flex-basis: 20em;
}

.showcase-project-header > h1 {
    margin-top: 0em;
    margin-bottom: 0em;
}

@media screen and (max-width: 760px) {
    .showcase-project {
        /* Display items vertically */
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .showcase-project > .showcase-fullimage {
        /* Shrink image to fit row but maintain aspect ratio */
        margin-right: 0;
        flex-basis: auto;
        flex-shrink: 1;
        width: 100%;
    }
    .showcase-project > .showcase-project-header {
        flex-basis: auto;
    }
    .showcase-project-summary {
        /* Don't show the summary since the description is right below */
        display: none;
    }
}
