{{ define "main" }}
{{ .Content }}
<!--
     Use flexbox here to show a thumbnail, description
-->
<ul class="showcase-list">
    {{ range .Paginator.Pages }}
    <li>
        <div class="showcase-list-item">{{ partial "showcase-item" . }}</div>
    </li>
    {{ end }}
</ul>
<hr />

<div class="pure-button-group" role="group">
    <a class="pure-button"
       {{ if .Paginator.HasPrev }} href="{{ .Paginator.Prev.RelPermalink }}"
       {{ else }} disabled {{ end }}>
        Previous Page
    </a>
    <a class="pure-button"
       {{ if .Paginator.HasNext }} href="{{ .Paginator.Next.RelPermalink }}"
       {{ else }} disabled {{ end }}>
        Next Page
    </a>
</div>
{{ end }}
