{{ define "title" }} {{.Site.Title}} {{ end }}

{{ define "main" }}
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam nulla,
    laoreet in semper at, vestibulum id erat. Sed id blandit quam. Nulla ut
    cursus nibh, quis elementum urna. Quisque rhoncus est id congue porttitor.
    Ut accumsan ante vitae enim euismod pharetra. Etiam sagittis ultricies lorem
    non sollicitudin. Sed vel aliquam sapien, at auctor arcu. Praesent tristique
    diam nibh, vel laoreet magna viverra vitae. Nulla faucibus id nunc placerat
    faucibus.
    <br/>

    Suspendisse venenatis mi et pellentesque maximus. Duis nec interdum arcu,
    dictum dignissim lorem. Etiam efficitur pulvinar congue. Donec fringilla
    posuere orci quis ullamcorper. Ut quam velit, molestie quis quam
    sollicitudin, tincidunt lobortis augue. Maecenas lorem risus, commodo id
    nunc ut, luctus aliquam mauris. Suspendisse finibus euismod nibh,
    condimentum rhoncus purus luctus quis. In ultrices nunc quis lectus tempor,
    sit amet dictum nisl tempus.
    <br/>

    Sed quis ante sed tellus lobortis ultricies non eget urna. Etiam dignissim,
    massa quis mollis cursus, erat massa tempus nunc, venenatis tristique turpis
    lacus et enim. Nam et hendrerit felis. Duis elementum lorem eu risus aliquet
    volutpat. Cras aliquam dolor risus, et volutpat dui commodo sed. Fusce
    molestie, dui placerat placerat eleifend, libero dui egestas ex, ultricies
    placerat lectus risus non odio. Curabitur consectetur lacinia dictum.
</p>
{{ end }}
