{{ range $.Site.Data.resources.categories }}
{{ $category := . }}
<h2>{{ $category.title }}</h2>

{{ if isset $category "description" }}
<p>{{ $category.description | markdownify }}</p>
{{ end }}

{{ range $category.subcategories }}
{{ $subcategory := . }}
<h3>{{ $subcategory.title}}</h3>
{{ if isset $subcategory "description" }}
<p>{{ $subcategory.description | markdownify }}</p>
{{ end }}

<ul>
    {{ range $subcategory.items }}
    {{ partial "resource_entry.html" . }}
    {{ end }}
</ul>
{{ end }}

<ul>
    {{ range $category.items }}
    {{ partial "resource_entry.html" . }}
    {{ end }}
</ul>

{{ end }}
